/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1.3 "Microsoft YaHei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    color: #333;
}

h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var, i{ font-style: normal; } /* 将斜体扶正 */
b, strong{ font-weight: normal; } /* 将粗体扶细 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /*小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: #666;}


/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; }
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
/* html { overflow-y: scroll; } */

a:link:hover{
    color : lightgreen !important;
    text-decoration: underline;
}
html,
body,
#root
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div{
    box-sizing: border-box;
}

::-webkit-scrollbar {width:0px;height:1px;position:absolute;border-radius: 3px;}
::-webkit-scrollbar-thumb {background-color:#ddd}
/* ::-webkit-scrollbar-track {background-color:#ddd} */


.img-radius-4 {
    border-radius: 4px;
}

.img-radius-8 {
    border-radius: 8px;
}

.img-border {
    box-sizing: border-box;
    border: 1px solid #dddddd;
}

.circle {
    border-radius: 50%;
}

/* 单行文字超出隐藏 */
.text-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 全局字体加粗 */
.font-bold {
    font-weight: bold;
}

/* 全局字体大小 */
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

/* 全局margin间距 */
.mleft-6 {
    margin-left: 6px;
}

.mleft-10 {
    margin-left: 10px;
}

.mleft-12 {
    margin-left: 12px;
}

.mleft-20 {
    margin-left: 20px;
}

.mleft-30 {
    margin-left: 30px;
}

.mleft-40 {
    margin-left: 40px;
}

.mleft-200 {
    margin-left: 200px;
}

.mleft-300 {
    margin-left: 300px;
}

.mright-5 {
    margin-right: 5px;
}

.mright-10 {
    margin-right: 10px;
}

.mright-20 {
    margin-right: 20px;
}

.mtop-15 {
    margin-top: 15px;
}
.mtop-10 {
    margin-top: 10px;
}

.mtop-20 {
    margin-top: 20px;
}

.mtop-50 {
    margin-top: 50px;
}

.mtop-60 {
    margin-top: 60px;
}

.mbottom-10 {
    margin-bottom: 10px;
}

/* 全局宽度 */
.w-60 {
    width: 60px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px;
}

.w-500 {
    width: 500px;
}

.h-100 {
    height: 100px;
}

.h-80 {
    height: 80px;
}

/* 全局鼠标样式 */
.pointer {
    cursor: pointer;
}

.default-cursor {
    cursor: default;
}

/* 全局flex垂直居中加空隙分布两端  */
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 设置鼠标处于element表格上的状态 */
.el-table {
    cursor: default;
}

/* div制作的线条 */
.div-line {
    border-top: 1px solid #e0e0e0;
}